* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* container */
.container1 {
    max-width: 1300px;
    margin: 0 auto;
}

.container2 {
    max-width: 1100px;
    margin: 0 auto;
}

.container3 {
    max-width: 100%;
    margin: 0 auto;
}

.container4 {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding-top: 25px;
}


/* header */
header {
}

header .navigation {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;  
    padding: 25px 0;  
}

header img {
    padding: 0 30px;
    height: auto;
}

header nav ul {
    list-style: none;
    display: inline-block;
}

header .barra1 {
    margin: 2px 0 0 35px;
}

header .barra2 {
    margin: 2px 0 0 50px;
}

header nav li {
    display: inline-block;
}

header nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 17px;
    padding: 15px 0px;
    margin-right: 40px;
}

header .button-inizia {
    display: inline-block;
    background-color: #0061ff;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: white;
    width: 5%;
    margin: 0 30px 0 0;
}
/* /header */

/* first page */
.first-page {
    background-color: #b4d0e7;
    position: relative;
}

.first-page .title1 {
    font-size: 80px;
    padding-top: 80px;
}

.first-page .image {
    position: absolute;
    height: 500px;
    top: 77%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.first-page .article {
    margin-top: 50px;
}

.first-page p {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
}

.first-page .button {
    display: inline-block;
    background-color: #0061ff;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: white;
    width: 60%;
    margin: 30px 0 10px 0;
    padding: 5px 10px;
}

.first-page .sub-paragrafo {
    font-size: 15px;
}

.first-page .icona {
    font-size: 40px;
    margin: 30px 0 140px 0;
}
/* / first page */

/* second page */
.second-page {
    background-color: #ffffff;

    position: relative;
}

.second-page .title {
    font-size: 40px;
    margin: 170px 0 50px 0;
    text-align: left;
}

.second-page .radio-abbonamento {
    margin: 0;
    height: 50px;
}

.second-page .second-radio {
    margin-left: 15px;
}

.second-page [type="radio"]{
    transform: scale(1.3);
}

.second-page .central-page {
    height: 1000px;
}

.second-page .table {
    border: 1px solid #d0d0d3;
    width: 30%;
    min-height: 1000px;
}

.second-page .table-center {
    margin: 0 55px;
}

.second-page .row-table {
    border-bottom: 1px solid #d0d0d3;
    padding: 10px 15px;
    text-align: center;
}
.second-page .sub-table {
    text-align: left;
}

.second-page .table-content {
    padding: 5px 35px;
  }
.second-page .sub-paragrafo {
    font-weight: 500;
    font-size: 16px;
}

.second-page .sub-table h2 {
    font-size: 27px;
    margin:20px 0 0 0;
}

.second-page .sub-table h4 {
    margin: 20px 0 10px 0;
}

.second-page .sottotitolo {
    color:#637381;
}

.second-page .first-space {
    margin: 30px 0 0 0;
}

.second-page .second-span {
    width: 91%;
    font-size: 14px;
    position: relative;   /*position icona spunta blu*/
}

.second-page .second-row {
    padding-bottom: 25px;
}

.second-page .button {
    display: inline-block;
    background-color: #0061ff;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: white;
    width: 100%;
    margin: 30px 0 30px 0;
    padding: 5px 10px;
}

.second-page .linea {
    color:#d0d0d3;
    margin: 0px 0 35px 0;
    font-weight: 200;
}

.second-page .table ul {
    list-style-type: none;
    list-style-position: outside;
    width: 96%;
    font-size: 14px;
    position: relative; /*Position rispetto alla spunta blu*/
    padding-left: 20px;
    }

.second-page .table li {
    margin: 20px 0;
}

.second-page li::before {
    content: "\f00c";
    font-family: FontAwesome;
    color: #0061ff;
    position: absolute; /*Position rispetto a UL*/
    left: 0%;
    transform: scale(1.2);
}

.long-table {
    width: auto;
    margin: 40px 0 0 0;
    border: 1px solid #d0d0d3;
    height: 220px;
    position: relative;
}

.second-page .long-table .sub-title {
    font-size: 14px;
    margin: 25px 0;
}

.second-page .button-2 {
    display: inline-block;
    background-color: #0061ff;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: white;
    width: 28%;
    margin: 30px 0 30px 0;
    padding: 5px 10px;
    font-size: 14px;
    position: absolute;
    top: 16%;
    right: 3%;
}
/* / second page */

/* third page */
.third-page {
    background-color: #ffffff;
}

.third-page .image {
    height: 500px;
    margin: 130px 0;
}

.third-page .article-partner {
    width: 42%;
    margin: 160px 0;
}

.third-page .title-partner {
    font-size: 28px;
}

.third-page p {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    margin: 30px 0;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.third-page .button {
    display: inline-block;
    border: 1px solid black;
    line-height: 30px;
    text-decoration: none;
    color: black;
    margin: 5px 0;
    padding: 5px 20px;
    font-size: 17px;
    font-weight: 500;
}

/* / third page */

/* fourth page */
.fourth-page {
    background-color: #ffffff;
}

.fourth-page .title-items {
    font-size: 40px;
}

.fourth-page .banner1 {
    margin: 45px 0 30px 0;
}

.fourth-page .title-partner {
    font-size: 28px;
}

.fourth-page p {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    margin: 20px 0;
    line-height: 23px;
    letter-spacing: -0.2px;
}

.fourth-page .banner-center {
    margin: 45px 55px 30px 55px;
}

.fourth-page .banner2 {
    margin: 45px 0 30px 0;
}

/* / fourth page */

/* fifth page */
.fifth-page {
    background-color: #ffffff;
}

.fifth-page .title-items {
    font-size: 40px;
    margin: 120px 0 30px 0 ;
}

.fifth-page a,
.fifth-page p {
    font-size: 17px;
    font-weight: 500;
}

.images > div {
    height: 240px;
    width: 50%;
    position: relative;
}

.fifth-page .image-1 {
    background-color: #a2d39b;
    /* border: 10px solid #d0e9cd; */
}
.fifth-page .image-2 {
    background-color: #61082b;
}
.fifth-page .image-3 {
    background-color: #0093ce;
}
.fifth-page .image-4 {
    background-color: #ff1c1c;
}
.fifth-page .image-5 {
    background-color: #d5001f;
}
.fifth-page .image-6 {
    background-color: #b4d0e7;
}
.fifth-page .image-7 {
    background-color: #0d2481;
}
.fifth-page .image-8 {
    background-color: #ffd830;
}

.fifth-page .sponsors {
    margin: 50px 0;
}

.fifth-page .sponsor-image {
    color: white;
    filter: invert(100%);
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.fifth-page .images-central {
    height: 480px;
    background-color: #f5f5f5;
}

.fifth-page .central-logo {
    height: 45px;
    margin: 45px 0 10px 45px;
}

.fifth-page .linea {
    color:#d0d0d3;
    margin: 0px 0 35px 45px;
    font-weight: 200;
}

.fifth-page p {
    margin: 50px 45px;
}
/* / fifth page */

/*sixth page */
.sixth-page {
    background-color: #b4d0e7;

    position: relative;
}

.sixth-page .title {
    font-size: 45px;
    padding: 120px 0;
    display: inline-block;
    color: #61082b;
}

.sixth-page .button {
    display: inline-block;
    background-color: #ffffff;
    color: black;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    width: 20%;
    margin: 30px 0 30px 0;
    padding: 5px 10px;
    font-size: 18px;

    position: absolute;
    top: 35%;
    right: 5%;
    transform: translate(-50%, -50%);
    }

.sixth-page .button-position {
    vertical-align: middle;
}
/* / sixth page */

/* seventh page */
.seventh-page {
    background-color: #ffffff;
    margin-bottom: 100px;
}

.seventh-page .question,
.seventh-page .title {
    border-bottom: 1px solid #d0d0d3;
    padding: 33px 0;
}

.seventh-page h1 {
    font-size: 35px;
    margin-top: 65px;
}

.seventh-page h3 {
    font-size: 18px;
}

.seventh-page p {
    padding-top: 30px;
}

/* interaction hover mouse */
.seventh-page .question p {
display: none;
}
.seventh-page .question:hover p{
display: block;
}

.seventh-page span:last-of-type {
    display: none;
}

.seventh-page .question:hover span:first-of-type {
    display: none;
}

.seventh-page .question:hover span:last-of-type {
    display: inline-block;
}

/* / seventh page */

/* footer */
footer {
    background-color: black;
}

.footer-page {
    padding: 80px 0 20px 0;
}

footer .list {
    margin-right: 132px;
}

footer .last-list {
    margin: 0;
}

footer h3,
footer li {
    color: white;
}

footer h3 {
    padding: 15px 0;
    font-size: 20px;
}

footer ul {
    font-size: 14px;
    list-style: none;
}

footer li {
    padding: 5px 0;
}

footer .linea {
    color: #d0d0d3;
    padding: 70px 0 0 0;
    font-weight: 200;
}

footer .footer-down {
    clear: both;
}

footer .final-text {
    color: #999999;
    font-size: 14px;
    padding: 40px 0;
}
/* / footer */



/* Interactives */

header .button-inizia:hover {
    background-color: black;
    color: lightblue;
}

header a:hover {
    text-decoration:underline;
}

.first-page .button:hover {
    background-color: black;
    color: lightblue;
}

.second-page .button:hover {
    background-color: black;
    color: lightblue;
}

.second-page .button-2:hover {
    background-color: black;
    color: lightblue;
}

.second-page a:hover {
    color: red;
}

.third-page .button:hover {
    background-color: lightblue;
    color: white;
}

.fifth-page a:hover {
    color: red;
}

.fifth-page .images > div:hover {
    border: 10px solid rgba(0, 0, 0, 0.3);
}

.sixth-page .button:hover {
    background-color: black;
    color: lightblue;
}

footer li:hover {
    text-decoration: underline;
}

/* Utilities */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.w-10 {
    width: 10%;
}
.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 50%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.w-100 {
    width: 100%;
}